:root{
    --mouseY:-50%;
    --mouseX:-50%;
}

#p1{
    --mouseY:0%;
    --mouseX:0%;
    transform: translate(var(--mouseX),var(--mouseY)) rotate(-45deg) scale(var(--x),var(--x));
}
#p2{
    --mouseY:-80%;
    --mouseX:55%;
    transform: translate(var(--mouseX),var(--mouseY)) rotate(-30deg) scale(var(--x),var(--x));
}
#p3{--mouseY:-50%;
    --mouseX:190%;
    transform: translate(var(--mouseX),var(--mouseY)) rotate(-5deg) scale(var(--x),var(--x));
}
#p4{--mouseY:90%;
    --mouseX:230%;
    transform: translate(var(--mouseX),var(--mouseY)) rotate(70deg) scale(var(--x),var(--x));
}
#p5{--mouseY:280%;
    --mouseX:80%;
    transform: translate(var(--mouseX),var(--mouseY)) rotate(-75deg) scale(var(--x),var(--x));
}

#p6{--mouseY:130%;
    --mouseX:0%;
    transform: translate(var(--mouseX),var(--mouseY)) rotate(5deg) scale(var(--x),var(--x));
}
.parallax{
    transition: all;
    transition-duration: 1s;
}