.home-container{
    width: 100vw;
    height: 100vh;
}
#logo{
    width: 25vw;
    height: 30vw;
    background-image: url('../../coffee.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    position: fixed;
    padding: 20px;
    z-index: -50;
    top: 50%;
    left:50%;
    transform: translate(-50%,-40%);
    transition: all;
    transition-duration: 2000ms;
    opacity: 0;
   
}

@media all and (max-width:800px){
    #logo{
        
        width: 50vw;
        height: 50vh;
        transform: translate(-50%,-30%);
    } 
    
}