.home-container{
    padding-top: 79vh;
    width: 95vw;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    height: 100vh;
}
.home-container > div{
    background-color: rgb(133, 66, 17,0.85);
    backdrop-filter: blur(5px);
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: max-content;
    box-shadow: 6px -8px 10px -8px rgb(16, 10, 4);
}

@media all and (max-width:1200px){
    
    
    
}