.navbar{
    display: flex;
    width: 5vw;
    align-items: center;
    position: fixed;
    transition: all;
    transition-duration: 100ms;
    box-shadow: -10px 8px 5px -3px rgb(64, 30, 0);
    height:10vh;
    overflow: hidden;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(117, 58, 0);
}
.navbar_items{
  display: flex;
  justify-content: space-around;
  width: 70vw;
  
}


.navbar_items > li{
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  list-style: none;
  border-radius: 10px;
  color:white;
  max-height: fit-content;
  font-weight: 900;
  font-size: 0.8em;
  padding: 5px 15px;
}
.navbar_items>li:hover{
  color: rgb(173, 87, 0);
  background-color:white;
}
.link > #lord-icon{
  background-color: white;
  border-radius: 50% ;
}
.link{
  display: flex;
  flex-direction: column ;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
@media all and (max-width:800px){
    .navbar{
      height: 70px;
  
    }
    .navbar_items > li{
      width: max-content;
      height: fit-content;
    }
    .navbar_items{
      width:75vw;
    }
    .navbar_items > li{
      font-size: 0.7em;
      padding: 2px 5px;
    }
  }